{% extends "base.html" %}

{% block title %}Complexicator{% endblock %}

{% block content %}

	<h2>How complex is your life?</h2>

	<br />
	{% if error_msg %}
	<div class="alert alert-danger">
	<span class="glyphicon glyphicon-warning-sign"></span>
	<strong>{{error_msg}}</strong>
	{{error_age}}
	{{error_gender}}
	{{error_status}}
	{{error_ignorance}}
	{{error_m_have}}
	{{error_m_wants}}
	{{error_m_spent}}
	{{error_klout}}
	{{error_rl_friends}}</div>
	{% endif %}
	<form name="complicators" id="complexicator" action="/complexicator" method="post" class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="age" class="col-lg-3 control-label">How old are you?</label>
	    <div class="col-lg-9">
	    	<div class="error-label-age error-label"></div>
	      	<input type="number" class="form-control" id="age" placeholder="Your age" name="age" required {% if error_msg %}value="{{age}}"{% endif %} />
	    </div>
	  </div>


	<div class="form-group">
	  	<label for="gender" class="col-lg-3 control-label">Your gender?</label>
	  	<div class="col-lg-9">
	    	<div class="error-label-gender error-label"></div>
		  	<label class="radio-inline">
			  <input type="radio" name="gender" id="gender1" value="1" {% if gender == "1" %}checked{% endif %}/> Male
			</label>
			<label class="radio-inline">
			  <input type="radio" name="gender" id="gender2" value="10" {% if gender == "10" %}checked{% endif %}/> Female
			</label>
		</div>
	</div>

	<div class="form-group">
	  	<label for="status" class="col-lg-3 control-label">Relationship status?</label>
	  	<div class="col-lg-9">
	    	<div class="error-label-status error-label"></div>
		  	<label class="radio-inline">
			  <input type="radio" name="status" id="status1" value="2" {% if status == "2" %}checked{% endif %}/> single
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="status2" value="4" {% if status == "4" %}checked{% endif %}/> in a relationship
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="status2" value="6" {% if status == "6" %}checked{% endif %}/> open relationship
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="status2" value="8" {% if status == "8" %}checked{% endif %}/> it's complicated
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="status2" value="10" {% if status == "10" %}checked{% endif %}/> I'm a pizza
			</label>
			<label class="radio-inline">
			  <input type="radio" name="status" id="status2" value="0" {% if status == "0" %}checked{% endif %}/> depends who asks
			</label>
		</div>
	</div>

	<div class="form-group{% if error_ignorance %} has-error{% endif %}">
	    <label for="ignorance" class="col-lg-3 control-label">How ignorant are you?</label>
	    <div class="col-lg-9">
	    	<div class="error-label-ignorance error-label"></div>
	      	<input type="number" class="form-control" id="ignorance" placeholder="Estimated ignorance" name="ignorance" required {% if error_msg %}value="{{ignorance}}"{% endif %}/>
	    </div>
	</div>

	<div class="form-group{% if error_m_have %} has-error{% endif %}">
	    <label for="money_have" class="col-lg-3 control-label">How much money do you have?</label>
	    <div class="col-lg-9">
	    	<div class="error-label-money_have error-label"></div>
	      	<input type="number" class="form-control" id="money_have" placeholder="Estimated balance today in €" name="money_have" required {% if error_msg %}value="{{money_have}}"{% endif %}/>
	    </div>
	</div>

	<div class="form-group{% if error_m_wants %} has-error{% endif %}">
	    <label for="money_wants" class="col-lg-3 control-label">How much money do you want?</label>
	    <div class="col-lg-9">
	    	<div class="error-label-money_wants error-label"></div>
	      	<input type="number" class="form-control" id="money_wants" placeholder="Estimated needs today in €" name="money_wants" required {% if error_msg %}value="{{money_wants}}"{% endif %}/>
	    </div>
	</div>

	<div class="form-group{% if error_m_spent %} has-error{% endif %}">
	    <label for="money_spent" class="col-lg-3 control-label">How much money did you spend?</label>
	    <div class="col-lg-9">
	    	<div class="error-label-money_spent error-label"></div>
	      	<input type="number" class="form-control" id="money_spent" placeholder="Estimated spent today in €" name="money_spent" required {% if error_msg %}value="{{money_spent}}"{% endif %}/>
	    </div>
	</div>

	<div class="form-group{% if error_klout %} has-error{% endif %}">
	    <label for="popularity_online" class="col-lg-3 control-label">Your Klout score?</label>
	    <div class="col-lg-9">
	    	<div class="error-label-popularity_online error-label"></div>
	      	<input type="number" class="form-control" id="popularity_online" placeholder="Write 0 if you don't use Klout" name="popularity_online" required {% if error_msg %}value="{{popularity_online}}"{% endif %}/>
	    </div>
	</div>

	<div class="form-group">
	  	<label for="rl_friends" class="col-lg-3 control-label">How many real friends do you have?</label>
	  	<div class="col-lg-9">
	    	<div class="error-label-rl_friends error-label"></div>
		  	<label class="radio-inline">
			  <input type="radio" name="rl_friends" id="rl_friends1" value="0" {% if rl_friends == "0" %}checked{% endif %}/> 0 - 2
			</label>
			<label class="radio-inline">
			  <input type="radio" name="rl_friends" id="rl_friends2" value="4" {% if rl_friends == "4" %}checked{% endif %}/> 3 - 5
			</label>
			<label class="radio-inline">
			  <input type="radio" name="rl_friends" id="rl_friends3" value="10"  {% if rl_friends == "10" %}checked{% endif %}/> 6 or more
			</label>
		</div>
	</div>

	<div class="form-group">
	    <div class="col-lg-offset-3 col-lg-9">
	      <button type="submit" class="btn btn-primary btn-lg">Calculate</button>
	    </div>
	  </div>
	</form>
<noscript>Oh noez!</noscript>
{% endblock %}