{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}



 <div class="row">
	<div class="col-lg-3">
	  <h2>Enjoy this handpicked cute cat video.</h2>
	</div> 
	<div class="col-lg-9">
	<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
	<iframe allowfullscreen="" src="http://www.youtube.com/embed/2kBvjHrA43A?feature=player_detailpage" frameborder="0"></iframe>
	</div>
	</div>
</div>  


 <div class="row">
	<div class="col-lg-3">
	  <h2>So cool.</h2>
	</div> 
	<div class="col-lg-9">
		<br />
		<p><span class="glyphicon glyphicon-gift"></span> I can haz iconz. <span class="glyphicon glyphicon-inbox"></span></p>
		<br />
	</div>
</div>  



<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron">
			<p>Website completeness:</p>
				<div class="progress progress-striped active">
				  <div class="progress-bar progress-bar-info" style="width: 40%"></div>
				</div>
			
		</div>
	</div>
</div>

	
{% endblock %}